$sailor-color: #001F3F;
$blue-color: #083358;
$sky-color: #0D63A5;
$yellow-color: #FFD717;
$yellow2-color: #ffe563;
$yellow3-color: #ccaa00;
$red-color: #d90429;
$red2-color: #840319;
$white-color: #ffffff;