@charset "UTF-8";
@font-face {
  font-family: "Caveat-VariableFont_wght";
  src: url("/assets/Caveat-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "FilmLetters";
  src: url("/assets/FilmLetters.ttf") format("truetype");
}
body {
  font-family: "Caveat-VariableFont_wght";
  font-size: 1.2rem;
}

.sct0 {
  padding-bottom: 8vh;
  background: linear-gradient(45deg, rgb(255, 242, 176) 0%, rgb(255, 229, 99) 50%, rgb(255, 216, 23) 100%);
  position: relative;
  border-bottom-left-radius: 50% 15%;
  border-bottom-right-radius: 50% 5%;
}
.sct0 .rotulo {
  color: #001F3F;
  font-family: "FilmLetters";
  font-size: 10vw;
  margin: 0;
}
.sct0 .present div {
  width: 60%;
  background-color: #0D63A5;
  border: 2px solid #083358;
}
.sct0 .contimg img {
  width: 75%;
  height: auto;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: #0D63A5 10px -10px, #083358 20px -20px;
}

.sct1 {
  padding: 10vh 6vw;
}
.sct1 .rotulo {
  color: #001F3F;
  font-family: "FilmLetters";
  font-size: 6vw;
  margin: 0;
}
.sct1 .card {
  height: 100%;
  border: 1px solid #0D63A5;
}
.sct1 .card .card-img-top {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.sct1 .card .card-body {
  text-align: center;
  box-shadow: 0px 15px 15px -8px rgba(0, 0, 0, 0.5);
}
.sct1 .card .css-button-3d--sky {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #0D63A5;
  box-shadow: 0 5px #083358;
}
.sct1 .card .css-button-3d--sky:hover {
  box-shadow: 0 3px #083358;
  top: 1px;
}
.sct1 .card .css-button-3d--sky:active {
  box-shadow: 0 0 #083358;
  top: 5px;
}
.sct1 .card:hover {
  transform: scale(1.1);
}

.city {
  padding: 10vh 6vw;
  background: linear-gradient(45deg, rgb(131, 167, 193) 0%, rgb(69, 132, 181) 50%, rgb(13, 99, 165) 100%);
  position: relative;
  border-bottom-left-radius: 50% 5%;
  border-bottom-right-radius: 50% 15%;
}
.city .card {
  width: 60%;
}
.city .card-body {
  width: 100%;
  height: 100%;
  border: 2px solid #FFD717;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.city .card-body .css-button-sliding-to-bottom--yellow {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #FFD717;
  color: #FFD717;
}
.city .card-body .css-button-sliding-to-bottom--yellow:hover {
  color: #fff;
}
.city .card-body .css-button-sliding-to-bottom--yellow:hover:after {
  height: 100%;
}
.city .card-body .css-button-sliding-to-bottom--yellow:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background: #ffd819;
}
.city .card-body .css-button-sliding-to-bottom--red {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #d90429;
  color: #d90429;
}
.city .card-body .css-button-sliding-to-bottom--red:hover {
  color: #fff;
}
.city .card-body .css-button-sliding-to-bottom--red:hover:after {
  height: 100%;
}
.city .card-body .css-button-sliding-to-bottom--red:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background: #d90429;
}
.city .contimg img {
  width: 100%;
  height: 55vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  box-shadow: #ffe563 10px -10px, #FFD717 20px -20px;
}

.sctform {
  min-height: 80vh;
  padding: 10vh 6vw;
  background: linear-gradient(45deg, rgb(255, 242, 176) 0%, rgb(255, 229, 99) 50%, rgb(255, 216, 23) 100%);
}
.sctform .rotulo {
  color: #001F3F;
  font-family: "FilmLetters";
  font-size: 8vw;
  margin: 0;
}
.sctform .txt1 {
  width: 75%;
  height: auto;
  background-color: #0D63A5;
  border: 2px solid #001F3F;
}
.sctform .contform {
  width: 60%;
  padding: 2vh 1vw;
  border: 2px solid #001F3F;
}
.sctform .contform .css-button-arrow--red {
  width: clamp(65px, 8vw, 150px);
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #ef233c;
}
.sctform .contform .css-button-arrow--red:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}
.sctform .contform .css-button-arrow--red:hover:after {
  opacity: 1;
  right: 10px;
}
.sctform .contform .css-button-arrow--red:after {
  content: "»";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}/*# sourceMappingURL=style.css.map */